{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/add-password" method="post">
        <div class="form-group">
            <input class="form-control" autocomplete="off" name="website" placeholder="Website" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Add Password</button>
    </form>

{% endblock %}