{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old-password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new-password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="New Password (Again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>

        <p style="margin-top: 20px;"><strong>ATTENTION: Password must have at least 8 characters, one uppercase letter, one lowercase letter, one digit, and one symbol.</strong></p>
    </form>

{% endblock %}